div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    font-size: 20px;
}

code {
    background-color: lightgray;
    color: #8b0000;
    padding: 5px;
}